<top-bar>
</top-bar>
<ScrollView>
    <StackLayout class="container">
        <GridLayout class="grid-container" rows="auto,auto,auto,auto,auto,auto,auto,auto" columns="*,*"> 
            <Label row="0" col="0" colspan="2" text="Title"></Label>
            <TextField row="1" col="0" colSpan="2" [(ngModel)]="task_name" fontSize="16"></TextField> 

            <Label row="2" col="0" colspan="2" text="Detail"></Label>
            <TextView row="3" col="0" colSpan="2" style="margin-top: 15px" borderColor="#DEDEDE" borderWidth="1" 
            borderRadius="2" height="150" [(ngModel)]="task_detail" fontSize="16">
            </TextView>
            <ScrollView *ngIf="task.photo" row="4" col="0" colSpan="2" orientation="horizontal">
                <StackLayout orientation="horizontal" *ngIf="hasImage">
                    <GridLayout *ngFor="let photo of task_photo" rows="*" columns="auto,20">
                        <CardView margin="5" elevation="10" radius="25" horizontalAlignment="left">
                            <Image row="0" col="0" [src]="photo" height="120" width="auto" (tap)="photoViewer(photo)"></Image>
                        </CardView>
                        <Button row="0" col="1" text="&#xf00d;" class="fas delete" width="20" height="20" 
                            (tap)="deletePhoto(photo)" verticalAlignment="top">
                        </Button>
                    </GridLayout>
                </StackLayout>
            </ScrollView>

            <Label row="5" col="0" colspan="2" text="Due Date"></Label>
            <DatePickerField row="6" col="0" [(ngModel)]="date"
                pickerOkText="OK" pickerCancelText="Cancel" pickerTitleDate="Select date" dateFormat="dd/MM/yyyy">
            </DatePickerField>
            <TimePickerField row="6" col="1" [(ngModel)]="time"
                pickerOkText="OK" pickerCancelText="Cancel" pickerTitleTime="Select time" 
                timeFormat="HH:mm">
            </TimePickerField>

            <DockLayout stretchLastChild="true" row="7" col="0" colSpan="2">
                <Label dock="left" text="Notification"></Label>
                <Switch dock="right" [(ngModel)]="task_notify"></Switch>
            </DockLayout>
        </GridLayout>
        <Button class="save" text="Save" (tap)="edit()"></Button>
    </StackLayout>

</ScrollView>