.container {
    background-image: url('~/app/images/background-bubble.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid-container {
    margin: 50px;
    padding: 40px;
    border-radius: 50px;
    background-color: #F2F2F7;
    height: auto;
}

Label {
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
}

.btn {
    width: 20%;
    height: 3%;
    background-color: #38ABFD;
    color: white;
    font-size: 15px;
    border-radius: 50px;
    visibility: collapsed;
}

.save {
    height: 8%;
    margin: 0px 50px 50px 50px;
    background-color: #1d62cf;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
}