<ActionBar *ngIf="router.url === '/'" flat="true" title="To-Do List">
    <ActionItem ios.systemIcon="4" android.systemIcon="ic_menu_add" ios.position="right" [nsRouterLink]="['/add']">
    </ActionItem>
</ActionBar>

<ActionBar *ngIf="router.url === '/detail/'+id" flat="true" title="Detail">
    <NavigationButton android.systemIcon="ic_menu_back" text="Back" [nsRouterLink]="['/']"></NavigationButton>
    <ActionItem android.systemIcon="ic_menu_edit" ios.position="right"(tap)="edit(task.id)"></ActionItem>
    <ActionItem android.systemIcon="ic_menu_delete" ios.position="right"(tap)="delete(task.id)"></ActionItem>
</ActionBar>

<ActionBar *ngIf="router.url === '/add'" flat="true" title="Create Task">
    <NavigationButton android.systemIcon="ic_menu_back" text="Back" (tap)="back_to_homepage()"></NavigationButton>
</ActionBar>

<ActionBar *ngIf="router.url === '/edit/'+id" flat="true" title="Edit Task">
    <NavigationButton android.systemIcon="ic_menu_back" text="Back" (tap)="back_to_detail()"></NavigationButton>
</ActionBar>