<ActionBar *ngIf="router.url === '/'" flat="true" title="To-Do List">
    <ActionItem ios.systemIcon="4" android.systemIcon="ic_menu_add" ios.position="right" [nsRouterLink]="['/add']">
    </ActionItem>
</ActionBar>

<ActionBar  flat="true" title="Tasks Detail">
    <NavigationButton android.systemIcon="ic_menu_back" text="Back" [nsRouterLink]="['/']"></NavigationButton>
</ActionBar>

<ActionBar *ngIf="router.url === '/add'" flat="true" title="Add Tasks">
    <NavigationButton android.systemIcon="ic_menu_back" text="Back" [nsRouterLink]="['/']"></NavigationButton>
</ActionBar>

