.container {
    background-image: linear-gradient(#2974FA, #38ABFD, #43D4FF);
}

.grid-container {
    margin: 50px;
    padding: 40px;
    border-radius: 50px;
    background-color: #F2F2F7;
    height: auto;
}

Label {
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
}

TextFeild {
    margin: 20px;
}

TextView {
    margin: 20px;
    font-size: 16px;
}

DatePicker {
    margin-left: 20px;
}

.add-image-btn {
    width: 40%;
    height: 2%;
    background-color: #38ABFD;
    color: white;
    font-size: 15px;
    border-radius: 50px;
}

.btn {
    width: 20%;
    height: 3%;
    background-color: #38ABFD;
    color: white;
    font-size: 15px;
    border-radius: 50px;
    visibility: collapsed;
}

.delete {
    background-color: #B22222;
    color: white;
    border-radius: 50px;
}

.add.task {
    height: 8%;
    margin: 0px 50px 50px 50px;
    background-color: #2974FA;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
}