<StackLayout>
    <GridLayout rows="auto,auto,auto,auto,auto,*,*" columns="auto" class="grid-container" height="100%" verticalAlignment="center">

        <Label row="0" col="0" text="&#xf053; Back" textWrap="true" class="fas back-icon" horizontalAlignment="left" (tap)="back_previous_page()"></Label>
        <Label row="1" col="0" text="About Taskky" textWrap="true" class="heading"></Label>
        <Image row="2" col="0" src="~/app/images/to-do-list-splashes.png" width="300px" horizontalAlignment="left" class="icon"></Image>
        <Label row="3" col="0" text="Version 1.0.0" textWrap="true" class="topic"></Label>
        <Label row="4" col="0" text="By" textWrap="true" class="topic"></Label>
        
        <ListView row="5" col="0" [items]="member_list" class="list-group" separatorColor="transparent" height="auto">
            <ng-template let-item="item">
              <StackLayout>
                  <GridLayout rows="auto" columns="auto">
                    <Label row="0" col="0" [text]="item" class="content"></Label>
                  </GridLayout>
              </StackLayout>
            </ng-template>
        </ListView>

        <Label row="6" col="0" text="Published by PPTG1" textWrap="true" class="topic"></Label>
    </GridLayout>
</StackLayout>