StackLayout {
    background-image: url('~/app/images/background-about.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid-container {
    margin: 50px;
}

.back-icon {
    width: 25%;
    margin: 50px 0px 50px 5px;
    font-size: 20px;
    color: white;
    background-color: #38ABFD;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
}

.heading {
    font-size: 35px;
    font-weight: 600;
    color: rgb(72, 75, 80);
    margin: 70px 0px 20px 30px;
}

.icon {
  margin: 20px;  
}

.topic {
    font-size: 20px;
    font-weight: 600;
    color: #29508f;
    margin: 20px 0px 10px 40px;
}

.content {
    font-size: 16px;
    font-weight: 500;
    color: #1d62cf;
    margin: 5px 20px 5px 40px;
}

ListView {
    background-color: beige;
}

.list-group {
    height: auto;
}