<top-bar></top-bar>
<StackLayout>
    <Label text="Task Detail" textAlignment="center"></Label>
    <Label [text]="'Name: '+task.name"></Label>
    <label [text]="'Id: '+task.id"></label>
    <label *ngIf="task.detail" [text]="'Detail: '+task.detail"></label>
    <label [text]="task.due_date|date:'d/MMM/yy H:m'"></label>
    <ScrollView >
        <StackLayout  *ngIf="task.photo">
            <GridLayout *ngFor="let photo of task.photo" rows="*" columns="auto">
                <CardView margin="5" elevation="15" radius="25">
                    <Image row="0" col="0" [src]="photo" height="200" width="auto"></Image>
                </CardView>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>
