ListView {
    margin: 30px;
    color: rgb(43, 40, 40);
}

GridLayout.list-card {
    margin: 5px;
    padding: 30px;
    border-radius: 25px;
    background-color: #F2F2F7;
}

.header {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.countdown {
    font-size: 15px;
    text-align: right;
}

.checklist {
    color: white;
    border-color: #38ABFD;
    border-width: 2;
}

.check {
    border-color: #38ABFD;
    border-width: 2;
    color: rgb(221, 219, 219);
}