ListView {
    margin: 5px 30px 5px 30px;
    color: rgb(43, 40, 40);
}

GridLayout {
    margin: 5px;
    padding: 40px;
    border-radius: 50px;
    background-color: #F2F2F7;
}

.header {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.countdown {
    font-size: 15px;
    text-align: right;
}